* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 246, 232);
    font-family: 'pretendard';
    height: 700px;
    background-image: url(/img/bg111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */
header {
    width: 1200px;
    height: 50px;
    border: 1px solid #7A9E62;
    border-radius: 50px;
    margin: 20px auto 0;
}

#mainnav img {
    margin-top: 2px;
    margin-left: 50px;
}

.nav {
    color: #7A9E62;
    width: 50%;
    float: right;
    text-align: right;
    margin: 5px 50px 0 0;
}

.nav li {
    display: inline-block;
    color: #5e7a4c;
    font-size: 15px;
    padding: 12px 12px 10px 12px;
    margin-left: 20px;
    border-radius: 30px;
    font-family: 'pretendard';
}

.nav li:hover {
    background-color: #ffffff;
    transition: all 0.5s;
}

footer {
    margin-top: 30px;
    height: 120px;
    /* border: 1px solid red; */
    background-color: #707070;
}

#footerlogo {
    padding: 15px 0 0 160px;
    display: flex;
}

#footerp {
    color: white;
    font-size: 13px;
    width: 500px;
    padding: 0 0 10px 170px;
    line-height: 25px;
}

#flowerlogo {
    float: right;
    margin: -95px 150px 0 0;
}

.firimg {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #5e7a4c;
    font-weight: bold;
    animation-name: fade-in;
    animation-duration: 3s;
    -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}



.pghere {
    background-color: #ffffff;
}


a {
    text-decoration: none;
}



.btext {
    text-align: center;
    font-size: 15px;
    color: #5e7a4c;
    margin-top: 70px;
    margin-bottom: 125px;
}


a {
    color: #5e7a4c;
    font-weight: bold;
}

section {
    margin-bottom: 460px;

}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainMenu{
    width: 1200px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    border-top: 1px solid #7A9E62;
    overflow: hidden;
}
.btn{
    display: block;
    padding: 15px 20px;
    background-color: #7A9E62;
    color: #fff;
    position: relative;

}
.btn i {
    margin-right: 10px;
}
.subMenu{
    background: #ffffff;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.subMenu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
    position: relative;
    
}
.subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 10em;
}

li {
    list-style-type: none;
}

.subMenu p {
    padding: 20px;
}


.btnmo {
    margin-top: 50px;
}

.a1btn {
    float: right;
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    background-color: #5e7a4c;
    padding: 10px 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    margin-right: 80px;
}

.a1btn span {
    position: relative;
    z-index: 1;
}

.a1btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 200%;
    background: #8e9e85;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-108%) translateY(-20%) rotate(47deg);
}

.a1btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.abtn {
    width: 100%;
    text-align: center;
    margin-top: -75px;
    margin-bottom: 120px;
}

a {
    color: white;
}